<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form action="{{url_for('signup') }}" method="POST">
        {{ form.csrf_token }}
        <label for="email">Email:</label>
        {{ form.email() }}
        <label for="username">Username:</label>
        {{ form.username() }}
        <label for="password">Password</label>
        {{ form.password() }}
        <label for="repeat">Confirm Password</label>
        {{ form.confirm() }}
        <label for="tos">I have read and agree to the Term of Service and Privacy Policy</label>
        {{ form.accept_tos() }}
        <button type="submit">Create account</button>
    </form>
</body>
</html>